@media (min-width: 420px) and (max-width: 780px) {
  div.mnWrap {
    height: 600px;
  }
  div.mnWrap main {
    padding: 260px 90px 0;
  }
  div.mnWrap main header h2 {
    line-height: 60px;
  }
  div.mnWrap main header h4 {
    display: none;
  }
  div.cnt01 section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0px;
  }
  div.cnt01 section article {
    width: 50%;
  }
  div.cnt01 section article .image {
    height: 200px;
  }
  div.cnt01 section article .texts h2 {
    font-size: 20px;
  }
  div.cntWrap .content.cnt02 {
    margin-top: 80px;
  }
  div.cntWrap .content.cnt02 header h2 {
    font-size: 20px;
    line-height: 20px;
  }
  div.cntWrap .content.cnt02 header p {
    display: none;
  }
  div.cntWrap .content.cnt02 section {
    width: 100%;
    height: 480px;
  }
  div.cntWrap .content.cnt02 section article .texts {
    display: none;
  }
  div.cntWrap .content.cnt03 {
    margin-top: 190px;
  }
  div.cntWrap .content.cnt03 section article h2 {
    font-size: 20px;
    line-height: 20px;
  }
  div.cntWrap .content.cnt03 section article h3 {
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
  }
  div.cntWrap .content.cnt03 section article .image {
    height: 200px;
  }
  div.cntWrap .content.cnt03 section article .texts {
    height: 120px;
  }
  div.cntWrap .content.cnt03 section article .texts p {
    display: none;
  }
  div.cntWrap .content.cnt03 .btn {
    margin-top: 40px;
  }
  div.cntWrap .content.cnt04 {
    margin-top: 40px;
  }
  div.cntWrap .content.cnt04 header h2 {
    width: 100%;
  }
  div.cntWrap .content.cnt04 section .artR .image {
    height: 500px;
  }
  div.cntWrap .content.cnt04 section .artR .texts {
    height: 200px;
  }
  div.cntWrap .content.cnt04 section .artR .texts p {
    display: none;
  }
  div.cntWrap .content.cnt04 section .artL {
    height: 0;
  }
  div.cntWrap .content.cnt04 section .artL article {
    height: 250px;
  }
  div.cntWrap .content.cnt04 section .artL article .texts {
    height: 90px;
  }
  div.cntWrap .content.cnt04 section .artL article .texts h3, div.cntWrap .content.cnt04 section .artL article .texts h5 {
    display: none;
  }
  div.cntWrap .content.cnt04 .btn {
    margin-right: 20px;
  }
  div.bnrWrap {
    margin-top: 80px;
    height: 380px;
  }
  div.bnrWrap .bnr01 header {
    margin: auto;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 20%;
    width: 80%;
  }
  div.bnrWrap .bnr01 header h2 {
    padding-top: 120px;
  }
  div.bnrWrap .bnr01 header p {
    display: none;
  }
  div.bnrWrap .bnr01 section .image {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 0) and (max-width: 420px) {
  div.mnWrap {
    height: 400px;
  }
  div.mnWrap main {
    padding: 170px 90px 0;
  }
  div.mnWrap main header {
    width: 100%;
  }
  div.mnWrap main header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  div.mnWrap main header h4 {
    display: none;
  }
  div.cntW01 div.cnt01 {
    margin-top: -40px;
  }
  div.cntW01 div.cnt01 section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0px;
  }
  div.cntW01 div.cnt01 section article {
    width: 50%;
  }
  div.cntW01 div.cnt01 section article .image {
    height: 150px;
  }
  div.cntW01 div.cnt01 section article .texts h2 {
    font-size: 15px;
  }
  div.cntW01 div.cnt01 section article .texts p {
    font-size: 20px;
  }
  div.cntWrap .content.cnt02 {
    margin-top: 80px;
  }
  div.cntWrap .content.cnt02 header h2 {
    font-size: 20px;
    line-height: 20px;
  }
  div.cntWrap .content.cnt02 header p {
    display: none;
  }
  div.cntWrap .content.cnt02 section {
    width: 100%;
    height: 220px;
  }
  div.cntWrap .content.cnt02 section article .image {
    height: 220px;
  }
  div.cntWrap .content.cnt02 section article .texts {
    display: none;
  }
  div.cntWrap .content.cnt03 {
    margin-top: 0px;
  }
  div.cntWrap .content.cnt03 header h2 {
    width: 60%;
  }
  div.cntWrap .content.cnt03 section {
    margin-top: 30px;
    height: 320px;
    display: block;
    overflow: hidden;
  }
  div.cntWrap .content.cnt03 section article {
    width: 100%;
  }
  div.cntWrap .content.cnt03 section article h2 {
    font-size: 20px;
    line-height: 20px;
  }
  div.cntWrap .content.cnt03 section article h3 {
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
  }
  div.cntWrap .content.cnt03 section article .image {
    height: 200px;
  }
  div.cntWrap .content.cnt03 section article .texts {
    height: 120px;
  }
  div.cntWrap .content.cnt03 section article .texts p {
    display: none;
  }
  div.cntWrap .content.cnt03 .btn {
    margin-top: 40px;
  }
  div.cntWrap .content.cnt04 {
    margin-top: 40px;
  }
  div.cntWrap .content.cnt04 header h2 {
    width: 100%;
  }
  div.cntWrap .content.cnt04 section .artR {
    width: 100%;
  }
  div.cntWrap .content.cnt04 section .artR .image {
    height: 500px;
  }
  div.cntWrap .content.cnt04 section .artR .texts {
    height: 200px;
  }
  div.cntWrap .content.cnt04 section .artR .texts p {
    display: none;
  }
  div.cntWrap .content.cnt04 section .artL {
    display: none;
  }
  div.cntWrap .content.cnt04 .btn {
    text-align: center;
  }
  div.bnrWrap {
    margin-top: 80px;
    height: 300px;
  }
  div.bnrWrap .bnr01 header {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 20%;
    width: 80%;
    height: 100px;
  }
  div.bnrWrap .bnr01 header h3 {
    font-size: 15px;
    line-height: 20px;
  }
  div.bnrWrap .bnr01 header p {
    display: none;
  }
  div.bnrWrap .bnr01 span {
    right: 30px;
  }
  div.bnrWrap .bnr01 section .image {
    width: 100%;
    height: 250px;
  }
  div.bnrWrap .bnr02 {
    padding-top: 80px;
  }
  div.bnrWrap .bnr02 header h2 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=mob_sub02.css.map */