div.mnWrap{
    background-image: url(../image/sub03_main.jpg);
}
div.mnWrap main header{
    width: calc(100% / 12 * 10);
}
div.mnWrap main header h2{
    font-size: 36px;
    line-height: 40px;
}
div.mnWrap main header h2::before{
    border-color: white;
    width: 8%;
}
div.mnWrap main header h4{
    font-size: 18px;   
}
div.mnWrap main header p{
    margin-top: 80px;
}

div.cnt01{}
div.cnt01 header{
    width: calc(100% / 12 * 6);
    text-align: center;
    margin: 0 auto;
}
div.cnt01 header h2{
    width: 55%;
    margin: 0 auto;
}
div.cnt01 section{
}
div.cnt01 section article{
    margin-top: 120px;
    
}
div.cnt01 section article .artTop{
    display: flex;
    align-items: center;
    width: 100%;
}

div.cnt01 section article .artTop .image{
    width: calc(100% / 12 * 9);
    direction : rtl;
}
div.cnt01 section article:nth-of-type(1) .artTop .image{
    direction: ltr
}
div.cnt01 section article:nth-of-type(1) .artTop{
    flex-direction: row-reverse;
}
div.cnt01 section article:nth-of-type(1) .artTop .texts{
    margin-right: -160px;
}
div.cnt01 section article:nth-of-type(3) .artTop{
    flex-direction: row-reverse;
}
div.cnt01 section article:nth-of-type(3) .artTop .texts{
    margin-right: -160px;
}
div.cnt01 section article:nth-of-type(3) .artTop .image{
    direction: ltr;
}
div.cnt01 section article .artTop .image .overGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    height: 720px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.cnt01 section article .artTop .image .i1{background-image: url(../image/sub03_cnt01_i1.jpg);}
div.cnt01 section article .artTop .image .i2{background-image: url(../image/sub03_cnt01_i2.jpg);}
div.cnt01 section article .artTop .image .i3{background-image: url(../image/sub03_cnt01_i3.jpg);}
div.cnt01 section article .artTop .texts{
    width: calc(100% / 12 * 5);
    margin-left: -160px;
    background-color: #fff;
    padding: 80px 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
div.cnt01 section article .artTop .texts h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 80px;
}
div.cnt01 section article .artTop .texts p{
    font-size: 16px;
    color: #333;
    height: 100px;
    overflow: hidden;
    line-height: 20px;
}
div.cnt01 section article .artTop .texts p:last-of-type{
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    margin-top: 40px;
}
div.cnt01 section article .artTop .texts p:last-of-type i{
    color: #c60;
    
}
div.cnt01 section article .artTop .texts h3{
    font-style: italic;
    margin-top: 20px;
}
div.cnt01 section article .artBtm{
    display: flex;
    height: 340px;
    margin-top: 20px; 
    justify-content: space-around;
}
div.cnt01 section article:nth-of-type(2) .artBtm{
    flex-direction: row-reverse;
    text-align: right;
}
div.cnt01 section article .artBtm .image{
    width: calc(100% / 3 - 20px);
    background-color: #ccc;
}
div.cnt01 section article .artBtm .texts{
    width: calc(100% / 3 - 20px);
    padding: 80px 20px;
}
div.cnt01 section article .artBtm .texts h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}
div.cnt01 section article .artBtm .texts p{
    height: 100px;
    overflow: hidden;
    line-height: 20px;
    margin-top: 20px;
}

div.cnt01 section article .artBtm .i1-1{background-image: url(../image/sub03_cnt01_i1-1.jpg);}
div.cnt01 section article .artBtm .i1-2{background-image: url(../image/sub03_cnt01_i1-2.jpg);}
div.cnt01 section article .artBtm .i2-1{background-image: url(../image/sub03_cnt01_i2-1.jpg);}
div.cnt01 section article .artBtm .i2-2{background-image: url(../image/sub03_cnt01_i2-2.jpg);}
div.cnt01 section article .artBtm .i3-1{background-image: url(../image/sub03_cnt01_i3-1.jpg);}
div.cnt01 section article .artBtm .i3-2{background-image: url(../image/sub03_cnt01_i3-2.jpg);}


div.cnt02{}
div.cnt02 header{
    width: 30%;
}
div.cnt02 header h2{}
div.cnt02 section{
    margin-top: 80px;
    width: calc((100vw - 1080px) / 2 + 100% );
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.cnt02 section .logo{
    width: 60px;
    height: 60px;
    background-image: url(../image/logo_bk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.cnt02 section article{
    width:430px;
    position: relative;
}
div.cnt02 section article .image{
    height: 560px;
}
div.cnt02 section article .image.i1{background-image: url(../image/sub03_cnt02_i1.jpg);}
div.cnt02 section article .image.i2{background-image: url(../image/sub03_cnt02_i2.jpg);}
div.cnt02 section article .image.i3{background-image: url(../image/sub03_cnt02_i3.jpg);}
div.cnt02 section article .texts{
    position: absolute;
    color: #fff;
    bottom: 40px;
    width: 80%;
    margin-left: 40px;
}
div.cnt02 section article .texts h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}
div.cnt02 section article .texts p{
    margin-top: 40px;
    height: 80px;
    line-height: 20px;
    overflow: hidden;
}

div.bnrW01{
    background-image: url(../image/sub03_bnr01.jpg);
    height: 480px;
    color: #fff;
    text-align: center;
    padding: 180px 0 160px;
}
div.bnrW01 button{
    margin-top: 40px;
}